# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temp files
*~
*.swp

# Build directory
build

# Documentation directory
doc

# Merge files
*.orig

# Cmake files
*_thrift.cmake

# Matlab figures
MATLAB/Images/*
