<application>
<name>Fingertips TableTop</name>


<!-- ****************************************************************************************************************** -->
<!-- ******************************************************************************** -->
<!-- ** Modules                                                                       -->
    <module>
        <name>IAITableTopController</name>
        <node>tabletop</node>
        <parameters>--from confIAITableTopController.ini</parameters>
        <workdir></workdir>
        <tag>IAITableTop controller</tag>
    </module>
    
    <module>
        <name>robotInterface</name>
        <node>tabletop</node>
        <parameters></parameters>
        <workdir></workdir>
        <tag>robotInterface to acquire skin data from fingertip</tag>
    </module>
    
    <module>
        <name>NIDAQmxReader</name>
        <node>tabletop</node>
        <parameters>--from confNIDAQmxReader.ini</parameters>
        <workdir></workdir>
        <tag>NIDAQmxReader for nano17 sensor</tag>
    </module>
        
    <module>
        <name>dataDumper</name>
        <node>tabletop</node>
        <parameters>--name /dump_iaittpos --dir data/iaittpos/dump</parameters>
        <workdir>C:\Users\fgiovannini\Documents\IIT\experiments</workdir>
        <tag>datadumper IAI TableTop position values</tag>
    </module>
    
    <module>
        <name>dataDumper</name>
        <node>tabletop</node>
        <parameters>--name /dump_iaittexp --dir data/iaittexp/dump</parameters>
        <workdir>C:\Users\fgiovannini\Documents\IIT\experiments</workdir>
        <tag>datadumper IAI TableTop experiment status</tag>
    </module>
    
    <module>
        <name>dataDumper</name>
        <node>tabletop</node>
        <parameters>--name /dump_fingertip --dir data/fingertip/dump</parameters>
        <workdir>C:\Users\fgiovannini\Documents\IIT\experiments</workdir>
        <tag>datadumper fingertips skin values</tag>
    </module>
    
    <module>
        <name>dataDumper</name>
        <node>tabletop</node>
        <parameters>--name /dump_nano17 --dir data/nano17/dump</parameters>
        <workdir>C:\Users\fgiovannini\Documents\IIT\experiments</workdir>
        <tag>datadumper nano17 FT values</tag>
    </module>
<!-- ****************************************************************************************************************** -->
    
    
<!-- ****************************************************************************************************************** -->
<!-- ******************************************************************************** -->
<!-- ** Connections                                                                   -->
   <connection>
        <from>/IAITableTop/posreader/status:o</from>
        <to>/IAITableTop/controller/status:i</to>
        <protocol>udp</protocol>
   </connection>

   <connection>
        <from>/IAITableTop/posreader/position:o</from>
        <to>/dump_iaittpos</to>
        <protocol>udp</protocol>
   </connection>

    <connection>
        <from>/IAITableTop/controller/experiment/status:o</from>
        <to>/dump_iaittexp</to>
        <protocol>udp</protocol>
   </connection>
   
   <connection>
        <from>/SkinTableTop/skin/fingertip</from>
        <to>/dump_fingertip</to>
        <protocol>udp</protocol>
   </connection>
    
   <connection>
        <from>/NIDAQmxReader/data/real:o</from>
        <to>/dump_nano17</to>
        <protocol>udp</protocol>
   </connection>
<!-- ****************************************************************************************************************** -->
</application>
